/* CELULARES */
@media (max-width: 480px){
    body{
        width: 100vw;
        height: 100vh;
    }

    .panelLogin{
        width: 95vw;
    }

    .ingresoExitoso{
        width: 95vw;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    .index header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* TABLET */
@media (min-width: 481px) and (max-width: 768px){
    body{
        background-color: blue;
    }
}